extends layout
block content
 h1 #{name}!
 h1 #{title}!
 h1 #{entryTitle}



 h1 #{output}


 h3 Title
 ul
  each val in title
   li= val

//-  h3 Ingredients
//-  ul
//-   each val in ingredients
//-    li= val

//-  h3 Directions
//-  ul
//-  each val in directions
//-   li= val



